.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width:80%;

  &__input {
    display: block;
    width: 30%;
    outline:none;
    margin-right: 10px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  

  &__button {
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: 1px solid #212529;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
  box-shadow: #444;
	background-color: #fff;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: 0.5s ease-in;

    &:hover {
      background-color: #bdbdbd;
      transition: 1s ease-out;
    }
  }
}
